.vscode/*

ITProjectPriceCalculationManager.WebApp/.vscode

ITProjectPriceCalculationManager.PricePredictor.API/Data/WorkLogic/__pycache__/*
ITProjectPriceCalculationManager.PricePredictor.API/Graphics/__pycache__/*
ITProjectPriceCalculationManager.PricePredictor.API/ML/__pycache__/*
ITProjectPriceCalculationManager.PricePredictor.API/Settings/__pycache__/*
ITProjectPriceCalculationManager.PricePredictor.API/Services/Graphics/Result/*

ITProjectPriceCalculationManager.AuthServer/bin/*
ITProjectPriceCalculationManager.AuthServer/obj/*

ITProjectPriceCalculationManager.DTOModels/bin/*
ITProjectPriceCalculationManager.DTOModels/obj/*

ITProjectPriceCalculationManager.Extentions/bin/*
ITProjectPriceCalculationManager.Extentions/obj/*

ITProjectPriceCalculationManager.ITProjectsCalculator.API/bin/*
ITProjectPriceCalculationManager.ITProjectsCalculator.API/obj/*

ITProjectPriceCalculationManager.ITProjectsManager.API/obj/*
ITProjectPriceCalculationManager.ITProjectsManager.API/bin/*

ITProjectPriceCalculationManager.Router.API/obj/*
ITProjectPriceCalculationManager.Router.API/bin/*

compose-dev.yaml
shutdown.sh
.env