<div class="card">
  <p-toast></p-toast>
  <p-table #dt [value]="parameters" [rows]="10" [paginator]="true"
    [globalFilterFields]="['name']" [(selection)]="selectedApplications"
    [rowHover]="true" dataKey="id" currentPageReportTemplate="показати з {first} по {last} із {totalRecords}"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event, 'contains')" placeholder="Пошук..." />
        </span>
        <button pButton pRipple label="Нова" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="name">Назва<p-sortIcon field="name"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-parameter let-expanded="expanded">
      <tr>
        <td>
          <p-button type="button" pRipple [pRowToggler]="parameter" (click)="getEvaluationParameters(parameter)" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
        </td>
        <td>{{parameter.name}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editParameter(parameter)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteParameter(parameter)"></button>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-parameter>
    <tr>
      <td colspan="7">
        <div class="p-3">
          <p-table [value]="parameter.evaluationParameters" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name">Назва <p-sortIcon field="name" /></th>
                <th pSortableColumn="belongingFunction">Функція належності <p-sortIcon field="belongingFunction" /></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-evaluationParameter>
              <tr>
                <td>{{ evaluationParameter.name }}</td>
                <td>{{ evaluationParameter.belongingFunction?.name }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">There are no order for this product yet.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>

  </p-table>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
