<div class="card">
  <p-toast></p-toast>
  <p-table #dt [value]="applications" [rows]="10" [paginator]="true"
    [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedApplications"
    [rowHover]="true" dataKey="id" currentPageReportTemplate="показати з {first} по {last} із {totalRecords}
        entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event, 'contains')" placeholder="Пошук..." />
        </span>
        <button pButton pRipple label="Нова" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="openNew()"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Назва<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="price">Ціна<p-sortIcon field="price"></p-sortIcon></th>
        <th pSortableColumn="inventoryStatus">Статус<p-sortIcon field="inventoryStatus"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-application>
      <tr>
        <td>
          <p-tableCheckbox [value]="application"></p-tableCheckbox>
        </td>
        <td>{{application.name}}</td>
        <td>{{application.price}}</td>
        <td>
          <span [class]="'application-badge status-' + application.status.toLowerCase()">{{application.status}}</span>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editApplication(application)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteApplication(application)"></button>
          <button pButton pRipple icon="pi pi-user-plus" class="p-button-rounded p-button-secondary p-mr-2"
            (click)="addEstimatorGroup(application.id)"></button>
          <button pButton pRipple icon="pi pi-calculator" class="p-button-rounded p-mr-2"
            (click)="redirectToEvaluationForm(application.id)"></button>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>

<p-dialog [(visible)]="applicationDialog" [style]="{width: '450px'}" header="Деталі заявки" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="p-field">
      <label for="name">Назва</label>
      <input type="text" pInputText id="name" [(ngModel)]="application.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !application.name">Name is required.</small>
    </div>

    <div class="p-field">
      <label for="description">Опис</label>
      <textarea id="description" pInputTextarea [(ngModel)]="application.description" required rows="3"
        cols="20"></textarea>
    </div>

    <div class="p-field">
      <label for="description">Прибуток</label>
      <p-inputNumber inputId="profit" [(ngModel)]="application.profit"> </p-inputNumber>
    </div>

    <div class="p-field">
      <label for="description">Мови програмування</label>
      <p-multiSelect [options]="programLanguages" [(ngModel)]="selectedProgramLanguages"
        optionLabel="name"></p-multiSelect>
    </div>

    <div class="p-field">
      <label for="description">Зона довіри</label>
      <p-inputNumber inputId="profit" [(ngModel)]="application.confidenceArea"> </p-inputNumber>
    </div>

    <div class="p-field">
      <label for="description">Накладні витрати</label>
      <p-inputNumber inputId="profit" [(ngModel)]="application.overhead"> </p-inputNumber>
    </div>

    <div class="p-field">
      <label for="description">Соціальне страхування</label>
      <p-inputNumber inputId="profit" [(ngModel)]="application.socialInsurance"> </p-inputNumber>
    </div>

    <div class="p-field">
      <label for="description">Середня вартість робочої сили</label>
      <p-inputNumber inputId="profit" [(ngModel)]="application.averageCostLabor"> </p-inputNumber>
    </div>

    <div class="p-field">
      <label for="description">Середньомісячна ставка робочі години</label>
      <p-inputNumber inputId="profit" [(ngModel)]="application.averageMonthlyRateWorkingHours"> </p-inputNumber>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Закрити" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Зберегти" icon="pi pi-check" class="p-button-text"
      (click)="saveApplication()"></button>
  </ng-template>

</p-dialog>

<p-dialog [(visible)]="applicationToEstimatorsDialog" [style]="{width: '450px'}" header="Група експертів" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="description">Мови програмування</label>
      <p-multiSelect [options]="evaluators" [(ngModel)]="selectedEvaluators" optionLabel="name"></p-multiSelect>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Закрити" icon="pi pi-times" class="p-button-text"
      (click)="hideEstimatorGroupDialog()"></button>
    <button pButton pRipple label="Зберегти" icon="pi pi-check" class="p-button-text"
      (click)="saveEstimatorGroup()"></button>
  </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
