<div class="card">
  <p-toast></p-toast>
  <p-table #dt [value]="applications" [rows]="10" [paginator]="true"
    [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedApplications"
    [rowHover]="true" dataKey="id" currentPageReportTemplate="показати з {first} по {last} із {totalRecords}"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event, 'contains')" placeholder="Пошук..." />
        </span>
        <button pButton pRipple label="Нова" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"
          *ngIf="isVisible(user)"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="name">Назва<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="price">Ціна<p-sortIcon field="price"></p-sortIcon></th>
        <th pSortableColumn="inventoryStatus">Статус<p-sortIcon field="inventoryStatus"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-application let-expanded="expanded">
      <tr>
        <td>
          <p-button type="button" pRipple [pRowToggler]="application" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
        </td>
        <td>{{application.name}}</td>
        <td>{{application.price}}</td>
        <td>
          <span
            [class]="'application-badge status-' + application.statusName.toLowerCase()">{{application.statusName}}</span>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editApplication(application)" *ngIf="isVisible(user)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteApplication(application)" *ngIf="isVisible(user)"></button>
          <button pButton pRipple icon="pi pi-user-plus" class="p-button-rounded p-button-secondary p-mr-2"
            (click)="addEstimatorGroup(application.id)" *ngIf="isVisible(admin)"></button>
          <button pButton pRipple icon="pi pi-database" class="p-button-rounded p-button-secondary p-mr-2"
              (click)="redirectToEvaluationParameterForm(application.id)" *ngIf="isVisible(admin)"></button>
          <button pButton pRipple icon="pi pi-file-edit" class="p-button-rounded p-mr-2"
            (click)="redirectToEvaluationForm(application.id)" *ngIf="isVisible(evaluator)"></button>
          <button pButton pRipple icon="pi pi-calculator" class="p-button-rounded p-button-help p-mr-2"
            (click)="calculate(application.id)" *ngIf="isVisible(admin)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-application>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="application.evaluationParameters" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="name">Назва <p-sortIcon field="name" /></th>
                  <th pSortableColumn="belongingFunction">Функція належності <p-sortIcon field="belongingFunction" /></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-evaluationParameter>
                <tr>
                  <td>{{ evaluationParameter.name }}</td>
                  <td>{{ evaluationParameter.name }}</td>
                  <td>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">There are no order for this product yet.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
